cda-schematron/include/1.2.40.0.34.6.0.11.2.31-2019-06-13T094333-closed.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
Template derived pattern
===========================================
ID: 1.2.40.0.34.6.0.11.2.31
Name: EXNDS Weitere Merkmale
Description: Diese Sektion wird als Sub-Sektion der Sektion "Weitere Patienteninformation - Medizinisch" geführt und beinhaltet weitere Merkmale wie z.B.: die Blutgruppe des Patienten/der Patientin. Die Liste der Merkmale ist nicht als vollständig definiert. Es können weitere Merkmale in Form eines Key/Value-Pairs angegeben werden.
-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="template-1.2.40.0.34.6.0.11.2.31-2019-06-13T094333-closed">
    <title>EXNDS Weitere Merkmale</title>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/*[not(@xsi:nil = 'true')][not(self::hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']])]" id="d3462930e10968-true-d3720751e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3462930e10968-true-d3720751e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']] (rule-reference: d3462930e10968-true-d3720751e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31'] | self::hl7:code[(@code = 'PAT_INFO_MED_MERK' and @codeSystem = '1.2.40.0.34.5.194')] | self::hl7:title[not(@nullFlavor)] | self::hl7:text[not(@nullFlavor)] | self::hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]])]" id="d3462930e11038-true-d3720834e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3462930e11038-true-d3720834e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31'] | hl7:code[(@code = 'PAT_INFO_MED_MERK' and @codeSystem = '1.2.40.0.34.5.194')] | hl7:title[not(@nullFlavor)] | hl7:text[not(@nullFlavor)] | hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]] (rule-reference: d3462930e11038-true-d3720834e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/*[not(@xsi:nil = 'true')][not(self::hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']])]" id="d3462930e11090-true-d3720909e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3462930e11090-true-d3720909e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']] (rule-reference: d3462930e11090-true-d3720909e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65'] | self::hl7:id | self::hl7:code[(@code = 'KOERPERLICHEMERKMALE' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:statusCode[@code = 'completed' or @nullFlavor] | self::hl7:effectiveTime | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.66']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.64']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.113']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]])]" id="d3720857e7-true-d3720965e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3720857e7-true-d3720965e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65'] | hl7:id | hl7:code[(@code = 'KOERPERLICHEMERKMALE' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:statusCode[@code = 'completed' or @nullFlavor] | hl7:effectiveTime | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.66']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.64']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.113']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]] (rule-reference: d3720857e7-true-d3720965e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.66']]]/*[not(@xsi:nil = 'true')][not(self::hl7:sequenceNumber | self::hl7:seperatableInd | self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.66']])]" id="d3720857e39-true-d3721030e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3720857e39-true-d3721030e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:sequenceNumber | hl7:seperatableInd | hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.66']] (rule-reference: d3720857e39-true-d3721030e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.66']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.66']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.66'] | self::hl7:id | self::hl7:code[(@code = '365637002' and @codeSystem = '2.16.840.1.113883.6.96')] | self::hl7:text | self::hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.34-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)])]" id="d3720993e13-true-d3721082e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3720993e13-true-d3721082e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.66'] | hl7:id | hl7:code[(@code = '365637002' and @codeSystem = '2.16.840.1.113883.6.96')] | hl7:text | hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.34-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)] (rule-reference: d3720993e13-true-d3721082e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.64']]]/*[not(@xsi:nil = 'true')][not(self::hl7:sequenceNumber | self::hl7:seperatableInd | self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.64']])]" id="d3720857e50-true-d3721149e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3720857e50-true-d3721149e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:sequenceNumber | hl7:seperatableInd | hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.64']] (rule-reference: d3720857e50-true-d3721149e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.64']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.64']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.64'] | self::hl7:id | self::hl7:code[(@code = '115758001' and @codeSystem = '2.16.840.1.113883.6.96')] | self::hl7:text | self::hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.35-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)])]" id="d3721112e13-true-d3721201e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3721112e13-true-d3721201e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.64'] | hl7:id | hl7:code[(@code = '115758001' and @codeSystem = '2.16.840.1.113883.6.96')] | hl7:text | hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.35-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)] (rule-reference: d3721112e13-true-d3721201e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.113']]]/*[not(@xsi:nil = 'true')][not(self::hl7:sequenceNumber | self::hl7:seperatableInd | self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.113']])]" id="d3720857e61-true-d3721278e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3720857e61-true-d3721278e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:sequenceNumber | hl7:seperatableInd | hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.113']] (rule-reference: d3720857e61-true-d3721278e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.113']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.113']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.113'] | self::hl7:id | self::hl7:code | self::hl7:text | self::hl7:value[@nullFlavor='NA'])]" id="d3721231e13-true-d3721319e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3721231e13-true-d3721319e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.113'] | hl7:id | hl7:code | hl7:text | hl7:value[@nullFlavor='NA'] (rule-reference: d3721231e13-true-d3721319e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.113']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.113']]/hl7:value[@nullFlavor='NA']/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3721231e25-true-d3721347e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3721231e25-true-d3721347e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3721231e25-true-d3721347e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.113']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.113']]/hl7:value[@nullFlavor='NA']/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3721351e23-true-d3721362e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3721351e23-true-d3721362e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3721351e23-true-d3721362e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]]/*[not(@xsi:nil = 'true')][not(self::hl7:sequenceNumber | self::hl7:seperatableInd | self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']])]" id="d3720857e72-true-d3721418e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3720857e72-true-d3721418e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:sequenceNumber | hl7:seperatableInd | hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']] (rule-reference: d3720857e72-true-d3721418e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114'] | self::hl7:id | self::hl7:code | self::hl7:text | self::hl7:value[not(@nullFlavor)] | self::hl7:value[@nullFlavor='NA'])]" id="d3721371e13-true-d3721457e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3721371e13-true-d3721457e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114'] | hl7:id | hl7:code | hl7:text | hl7:value[not(@nullFlavor)] | hl7:value[@nullFlavor='NA'] (rule-reference: d3721371e13-true-d3721457e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']]/hl7:value[@nullFlavor='NA']/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3721371e26-true-d3721486e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.31" test="not(.)">(exnds_section_weitereMerkmale)/d3721371e26-true-d3721486e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3721371e26-true-d3721486e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.31']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.65']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']]/hl7:value[@nullFlavor='NA']/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3721490e23-true-d3721501e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3721490e23-true-d3721501e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3721490e23-true-d3721501e0)</assert>
    </rule>
</pattern>