cda-schematron/include/1.2.40.0.34.6.0.11.3.148-2020-10-06T172802-closed.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
Template derived pattern
===========================================
ID: 1.2.40.0.34.6.0.11.3.148
Name: EXNDS Arzneimittel Bezahlt
Description: Angabe zur Abgabeart: Barverkauf, Kasse, öffentliche Apotheke
-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="template-1.2.40.0.34.6.0.11.3.148-2020-10-06T172802-closed">
    <title>EXNDS Arzneimittel Bezahlt</title>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148']])]" id="d3462930e15869-true-d4339360e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.148" test="not(.)">(exnds_entry_ArzneimittelBezahlt)/d3462930e15869-true-d4339360e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148']] (rule-reference: d3462930e15869-true-d4339360e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148'] | self::hl7:code[(@code = 'ArnMittelBez' and @codeSystem = '1.2.40.0.34.5.195') or (@code = 'ArnMittelBez' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='BL' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d3462930e15883-true-d4339388e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.148" test="not(.)">(exnds_entry_ArzneimittelBezahlt)/d3462930e15883-true-d4339388e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148'] | hl7:code[(@code = 'ArnMittelBez' and @codeSystem = '1.2.40.0.34.5.195') or (@code = 'ArnMittelBez' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='BL' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d3462930e15883-true-d4339388e0)</assert>
    </rule>
</pattern>