cda-schematron/include/1.2.40.0.34.6.0.11.2.33-2019-06-14T090242-closed.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
Template derived pattern
===========================================
ID: 1.2.40.0.34.6.0.11.2.33
Name: EXNDS Behandlungen
Description: In dieser Sektion sind Angaben zu den einzelnen Behandlungen eines Patienten/einer Patientin angeführt. Diese Information wird in Form einer Tabelle für jede Behandlung angegeben.
-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="template-1.2.40.0.34.6.0.11.2.33-2019-06-14T090242-closed">
    <title>EXNDS Behandlungen</title>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/*[not(@xsi:nil = 'true')][not(self::hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']])]" id="d3462930e11168-true-d3723397e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3462930e11168-true-d3723397e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']] (rule-reference: d3462930e11168-true-d3723397e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33'] | self::hl7:code[(@code = '55753-8' and @codeSystem = '2.16.840.1.113883.6.1')] | self::hl7:title[not(@nullFlavor)] | self::hl7:text[not(@nullFlavor)] | self::hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]])]" id="d3462930e11190-true-d3723486e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3462930e11190-true-d3723486e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33'] | hl7:code[(@code = '55753-8' and @codeSystem = '2.16.840.1.113883.6.1')] | hl7:title[not(@nullFlavor)] | hl7:text[not(@nullFlavor)] | hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]] (rule-reference: d3462930e11190-true-d3723486e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/*[not(@xsi:nil = 'true')][not(self::hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']])]" id="d3462930e11227-true-d3723648e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3462930e11227-true-d3723648e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']] (rule-reference: d3462930e11227-true-d3723648e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67'] | self::hl7:id | self::hl7:code[(@code = 'Behandlungen' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:statusCode[@code = 'completed' or @nullFlavor] | self::hl7:effectiveTime | self::hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]])]" id="d3723509e5-true-d3723819e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3723509e5-true-d3723819e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67'] | hl7:id | hl7:code[(@code = 'Behandlungen' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:statusCode[@code = 'completed' or @nullFlavor] | hl7:effectiveTime | hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]] (rule-reference: d3723509e5-true-d3723819e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/*[not(@xsi:nil = 'true')][not(self::hl7:sequenceNumber | self::hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']])]" id="d3723509e21-true-d3724104e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3723509e21-true-d3724104e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:sequenceNumber | hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']] (rule-reference: d3723509e21-true-d3724104e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130'] | self::hl7:id | self::hl7:code[(@code = '277132007' and @codeSystem = '2.16.840.1.113883.6.96')] | self::hl7:text | self::hl7:statusCode[@code = 'completed'] | self::hl7:effectiveTime | self::hl7:participant[@typeCode='IND'][not(@nullFlavor)] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.126']]] | self::hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]] | self::hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]])]" id="d3723847e7-true-d3724213e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3723847e7-true-d3724213e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130'] | hl7:id | hl7:code[(@code = '277132007' and @codeSystem = '2.16.840.1.113883.6.96')] | hl7:text | hl7:statusCode[@code = 'completed'] | hl7:effectiveTime | hl7:participant[@typeCode='IND'][not(@nullFlavor)] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.126']]] | hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]] | hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]] (rule-reference: d3723847e7-true-d3724213e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:text/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3724231e37-true-d3724242e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.1" test="not(.)">(atcdabrr_other_NarrativeTextReference)/d3724231e37-true-d3724242e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3724231e37-true-d3724242e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:participant[@typeCode='IND'][not(@nullFlavor)]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.131'] | self::hl7:participantRole[hl7:playingEntity[hl7:code[(@code = 'TherapieMenge' and @codeSystem = '1.2.40.0.34.5.195')]]])]" id="d3723847e28-true-d3724278e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3723847e28-true-d3724278e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.131'] | hl7:participantRole[hl7:playingEntity[hl7:code[(@code = 'TherapieMenge' and @codeSystem = '1.2.40.0.34.5.195')]]] (rule-reference: d3723847e28-true-d3724278e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:participant[@typeCode='IND'][not(@nullFlavor)]/hl7:participantRole[hl7:playingEntity[hl7:code[(@code = 'TherapieMenge' and @codeSystem = '1.2.40.0.34.5.195')]]]/*[not(@xsi:nil = 'true')][not(self::hl7:playingEntity[hl7:code[(@code = 'TherapieMenge' and @codeSystem = '1.2.40.0.34.5.195')]])]" id="d3724260e7-true-d3724299e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724260e7-true-d3724299e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:playingEntity[hl7:code[(@code = 'TherapieMenge' and @codeSystem = '1.2.40.0.34.5.195')]] (rule-reference: d3724260e7-true-d3724299e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:participant[@typeCode='IND'][not(@nullFlavor)]/hl7:participantRole[hl7:playingEntity[hl7:code[(@code = 'TherapieMenge' and @codeSystem = '1.2.40.0.34.5.195')]]]/hl7:playingEntity[hl7:code[(@code = 'TherapieMenge' and @codeSystem = '1.2.40.0.34.5.195')]]/*[not(@xsi:nil = 'true')][not(self::hl7:code[(@code = 'TherapieMenge' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:quantity[not(@nullFlavor)])]" id="d3724260e9-true-d3724320e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724260e9-true-d3724320e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:code[(@code = 'TherapieMenge' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:quantity[not(@nullFlavor)] (rule-reference: d3724260e9-true-d3724320e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.126']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.126']])]" id="d3723847e30-true-d3724345e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3723847e30-true-d3724345e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.126']] (rule-reference: d3723847e30-true-d3724345e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.126']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.126']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.126'] | self::hl7:id | self::hl7:code[(@code = 'Kassenleistung' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:statusCode[@code = 'completed'] | self::hl7:value[not(@nullFlavor)] | self::hl7:value[@nullFlavor='NA'])]" id="d3724334e5-true-d3724380e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724334e5-true-d3724380e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.126'] | hl7:id | hl7:code[(@code = 'Kassenleistung' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:statusCode[@code = 'completed'] | hl7:value[not(@nullFlavor)] | hl7:value[@nullFlavor='NA'] (rule-reference: d3724334e5-true-d3724380e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]]/*[not(@xsi:nil = 'true')][not(self::hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']])]" id="d3723847e33-true-d3724437e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3723847e33-true-d3724437e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']] (rule-reference: d3723847e33-true-d3724437e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124'] | self::hl7:id | self::hl7:code[(@code = '276239002' and @codeSystem = '2.16.840.1.113883.6.96')] | self::hl7:text | self::hl7:statusCode[@code = 'completed'] | self::hl7:effectiveTime | self::hl7:targetSiteCode[not(@nullFlavor)] | self::hl7:targetSiteCode[@nullFlavor='NA'])]" id="d3724408e5-true-d3724495e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724408e5-true-d3724495e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124'] | hl7:id | hl7:code[(@code = '276239002' and @codeSystem = '2.16.840.1.113883.6.96')] | hl7:text | hl7:statusCode[@code = 'completed'] | hl7:effectiveTime | hl7:targetSiteCode[not(@nullFlavor)] | hl7:targetSiteCode[@nullFlavor='NA'] (rule-reference: d3724408e5-true-d3724495e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']]/hl7:code[(@code = '276239002' and @codeSystem = '2.16.840.1.113883.6.96')]/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3724408e12-true-d3724520e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724408e12-true-d3724520e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3724408e12-true-d3724520e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']]/hl7:code[(@code = '276239002' and @codeSystem = '2.16.840.1.113883.6.96')]/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3724524e23-true-d3724535e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3724524e23-true-d3724535e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3724524e23-true-d3724535e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']]/hl7:text/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3724543e37-true-d3724554e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.1" test="not(.)">(atcdabrr_other_NarrativeTextReference)/d3724543e37-true-d3724554e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3724543e37-true-d3724554e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']]/hl7:targetSiteCode[not(@nullFlavor)]/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3724408e31-true-d3724577e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724408e31-true-d3724577e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3724408e31-true-d3724577e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']]/hl7:targetSiteCode[not(@nullFlavor)]/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3724581e23-true-d3724592e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3724581e23-true-d3724592e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3724581e23-true-d3724592e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']]/hl7:targetSiteCode[@nullFlavor='NA']/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3724408e36-true-d3724606e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724408e36-true-d3724606e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3724408e36-true-d3724606e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:procedure[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.124']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.124']]/hl7:targetSiteCode[@nullFlavor='NA']/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3724610e23-true-d3724621e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3724610e23-true-d3724621e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3724610e23-true-d3724621e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/*[not(@xsi:nil = 'true')][not(self::hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']])]" id="d3723847e37-true-d3724739e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3723847e37-true-d3724739e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']] (rule-reference: d3723847e37-true-d3724739e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132'] | self::hl7:id | self::hl7:code[(@code = 'Tarif' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:statusCode[@code = 'completed'] | self::hl7:effectiveTime | self::hl7:participant[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.118']] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125']]] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.133']]] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']]] | self::hl7:entryRelationship[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.134']]] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']]])]" id="d3724630e5-true-d3724973e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724630e5-true-d3724973e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132'] | hl7:id | hl7:code[(@code = 'Tarif' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:statusCode[@code = 'completed'] | hl7:effectiveTime | hl7:participant[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.118']] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125']]] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.133']]] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']]] | hl7:entryRelationship[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.134']]] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']]] (rule-reference: d3724630e5-true-d3724973e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:text/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3724991e37-true-d3725002e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.1" test="not(.)">(atcdabrr_other_NarrativeTextReference)/d3724991e37-true-d3725002e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3724991e37-true-d3725002e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:participant[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.118']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.118'] | self::hl7:time | self::hl7:participantRole[hl7:playingEntity])]" id="d3724630e24-true-d3725062e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724630e24-true-d3725062e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.118'] | hl7:time | hl7:participantRole[hl7:playingEntity] (rule-reference: d3724630e24-true-d3725062e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:participant[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.118']]/hl7:participantRole[hl7:playingEntity]/*[not(@xsi:nil = 'true')][not(self::hl7:id | self::hl7:addr | self::hl7:telecom | self::hl7:playingEntity[not(@nullFlavor)])]" id="d3725020e6-true-d3725117e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725020e6-true-d3725117e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:id | hl7:addr | hl7:telecom | hl7:playingEntity[not(@nullFlavor)] (rule-reference: d3725020e6-true-d3725117e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:participant[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.118']]/hl7:participantRole[hl7:playingEntity]/hl7:playingEntity[not(@nullFlavor)]/*[not(@xsi:nil = 'true')][not(self::hl7:code[@codeSystem = doc('include/voc-2.16.840.1.113883.1.11.16040-DYNAMIC.xml')//valueSet[1]/completeCodeSystem/@codeSystem or concat(@code, @codeSystem) = doc('include/voc-2.16.840.1.113883.1.11.16040-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem) or @nullFlavor] | self::hl7:quantity | self::hl7:name | self::hl7:desc)]" id="d3725020e13-true-d3725166e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725020e13-true-d3725166e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:code[@codeSystem = doc('include/voc-2.16.840.1.113883.1.11.16040-DYNAMIC.xml')//valueSet[1]/completeCodeSystem/@codeSystem or concat(@code, @codeSystem) = doc('include/voc-2.16.840.1.113883.1.11.16040-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem) or @nullFlavor] | hl7:quantity | hl7:name | hl7:desc (rule-reference: d3725020e13-true-d3725166e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125']])]" id="d3724630e25-true-d3725212e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724630e25-true-d3725212e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125']] (rule-reference: d3724630e25-true-d3725212e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125'] | self::hl7:id | self::hl7:code[(@code = 'RGZ' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:statusCode[@code = 'completed'] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d3725190e5-true-d3725258e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725190e5-true-d3725258e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125'] | hl7:id | hl7:code[(@code = 'RGZ' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:statusCode[@code = 'completed'] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d3725190e5-true-d3725258e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.125']]/hl7:text/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3725276e37-true-d3725287e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.1" test="not(.)">(atcdabrr_other_NarrativeTextReference)/d3725276e37-true-d3725287e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3725276e37-true-d3725287e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.133']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.133']])]" id="d3724630e28-true-d3725319e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724630e28-true-d3725319e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.133']] (rule-reference: d3724630e28-true-d3725319e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.133']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.133']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.133'] | self::hl7:id | self::hl7:code[(@code = 'ABR' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.42-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)])]" id="d3725305e5-true-d3725363e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725305e5-true-d3725363e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.133'] | hl7:id | hl7:code[(@code = 'ABR' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.42-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)] (rule-reference: d3725305e5-true-d3725363e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']])]" id="d3724630e32-true-d3725415e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724630e32-true-d3725415e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']] (rule-reference: d3724630e32-true-d3725415e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128'] | self::hl7:id | self::hl7:code[(@code = 'CHKZ' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:statusCode[@code = 'completed'] | self::hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.44-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)])]" id="d3725393e5-true-d3725469e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725393e5-true-d3725469e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128'] | hl7:id | hl7:code[(@code = 'CHKZ' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:statusCode[@code = 'completed'] | hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.44-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)] (rule-reference: d3725393e5-true-d3725469e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']]/hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.44-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)]/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3725393e19-true-d3725506e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725393e19-true-d3725506e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3725393e19-true-d3725506e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.128']]/hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.44-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)]/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3725510e23-true-d3725521e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3725510e23-true-d3725521e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3725510e23-true-d3725521e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]]/*[not(@xsi:nil = 'true')][not(self::hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']])]" id="d3724630e35-true-d3725597e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724630e35-true-d3725597e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']] (rule-reference: d3724630e35-true-d3725597e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129'] | self::hl7:id | self::hl7:code[(@code = 'Visiteninformation' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:participant[@typeCode='IND'][not(@nullFlavor)] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.68']]])]" id="d3725530e5-true-d3725655e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725530e5-true-d3725655e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129'] | hl7:id | hl7:code[(@code = 'Visiteninformation' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:participant[@typeCode='IND'][not(@nullFlavor)] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.68']]] (rule-reference: d3725530e5-true-d3725655e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]/hl7:participant[@typeCode='IND'][not(@nullFlavor)]/*[not(@xsi:nil = 'true')][not(self::hl7:time | self::hl7:participantRole[hl7:code[(@code = 'Visitenadresse' and @codeSystem = '1.2.40.0.34.5.195')]])]" id="d3725530e17-true-d3725712e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725530e17-true-d3725712e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:time | hl7:participantRole[hl7:code[(@code = 'Visitenadresse' and @codeSystem = '1.2.40.0.34.5.195')]] (rule-reference: d3725530e17-true-d3725712e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]/hl7:participant[@typeCode='IND'][not(@nullFlavor)]/hl7:participantRole[hl7:code[(@code = 'Visitenadresse' and @codeSystem = '1.2.40.0.34.5.195')]]/*[not(@xsi:nil = 'true')][not(self::hl7:id | self::hl7:code[(@code = 'Visitenadresse' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:addr[not(@nullFlavor)] | self::hl7:telecom)]" id="d3725674e8-true-d3725780e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725674e8-true-d3725780e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:id | hl7:code[(@code = 'Visitenadresse' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:addr[not(@nullFlavor)] | hl7:telecom (rule-reference: d3725674e8-true-d3725780e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]/hl7:participant[@typeCode='IND'][not(@nullFlavor)]/hl7:participantRole[hl7:code[(@code = 'Visitenadresse' and @codeSystem = '1.2.40.0.34.5.195')]]/hl7:addr[not(@nullFlavor)]/*[not(@xsi:nil = 'true')][not(self::hl7:streetAddressLine | self::hl7:streetName | self::hl7:houseNumber | self::hl7:postalCode[not(@nullFlavor)] | self::hl7:city[not(@nullFlavor)] | self::hl7:state | self::hl7:country[not(@nullFlavor)] | self::hl7:additionalLocator)]" id="d3725674e16-true-d3725840e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725674e16-true-d3725840e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:streetAddressLine | hl7:streetName | hl7:houseNumber | hl7:postalCode[not(@nullFlavor)] | hl7:city[not(@nullFlavor)] | hl7:state | hl7:country[not(@nullFlavor)] | hl7:additionalLocator (rule-reference: d3725674e16-true-d3725840e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.68']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.68']])]" id="d3725530e20-true-d3725895e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725530e20-true-d3725895e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.68']] (rule-reference: d3725530e20-true-d3725895e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.129']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.68']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.68']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.68'] | self::hl7:id | self::hl7:code[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.43-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)] | self::hl7:text | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d3725881e7-true-d3725937e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725881e7-true-d3725937e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.68'] | hl7:id | hl7:code[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.43-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)] | hl7:text | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d3725881e7-true-d3725937e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.134']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.134']])]" id="d3724630e38-true-d3725980e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724630e38-true-d3725980e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.134']] (rule-reference: d3724630e38-true-d3725980e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.134']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.134']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.134'] | self::hl7:id | self::hl7:code[(@code = 'MNG' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)])]" id="d3725966e5-true-d3726013e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3725966e5-true-d3726013e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.134'] | hl7:id | hl7:code[(@code = 'MNG' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)] (rule-reference: d3725966e5-true-d3726013e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']])]" id="d3724630e41-true-d3726058e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3724630e41-true-d3726058e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']] (rule-reference: d3724630e41-true-d3726058e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135'] | self::hl7:id | self::hl7:code[(@code = 'Zusatzkennzeichen' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)] | self::hl7:value[@nullFlavor='NA'])]" id="d3726036e5-true-d3726088e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3726036e5-true-d3726088e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135'] | hl7:id | hl7:code[(@code = 'Zusatzkennzeichen' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)] | hl7:value[@nullFlavor='NA'] (rule-reference: d3726036e5-true-d3726088e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']]/hl7:value[@nullFlavor='NA']/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3726036e21-true-d3726114e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.33" test="not(.)">(exnds_section_behandlungen)/d3726036e21-true-d3726114e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3726036e21-true-d3726114e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.33']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.67']]/hl7:component[hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]]/hl7:procedure[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.130']]/hl7:entryRelationship[hl7:act[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.132']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.132']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.135']]/hl7:value[@nullFlavor='NA']/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3726118e23-true-d3726129e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3726118e23-true-d3726129e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3726118e23-true-d3726129e0)</assert>
    </rule>
</pattern>