cda-schematron/include/1.2.40.0.34.6.0.11.2.39-2019-06-17T153032-closed.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
Template derived pattern
===========================================
ID: 1.2.40.0.34.6.0.11.2.39
Name: EXNDS Krankenstand
Description: Diese Sektion enthält Angaben zu den Krankenständen des Patienten/der Patientin. Die strukturierte Angabe erfolgt mit Hilfe einer Tabelle.
-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="template-1.2.40.0.34.6.0.11.2.39-2019-06-17T153032-closed">
    <title>EXNDS Krankenstand</title>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/*[not(@xsi:nil = 'true')][not(self::hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']])]" id="d3462930e11444-true-d3748194e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.39" test="not(.)">(exnds_section_krankenstand)/d3462930e11444-true-d3748194e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']] (rule-reference: d3462930e11444-true-d3748194e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39'] | self::hl7:code[(@code = '224459001' and @codeSystem = '2.16.840.1.113883.6.96')] | self::hl7:title[not(@nullFlavor)] | self::hl7:text[not(@nullFlavor)] | self::hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]])]" id="d3462930e11466-true-d3748259e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.39" test="not(.)">(exnds_section_krankenstand)/d3462930e11466-true-d3748259e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39'] | hl7:code[(@code = '224459001' and @codeSystem = '2.16.840.1.113883.6.96')] | hl7:title[not(@nullFlavor)] | hl7:text[not(@nullFlavor)] | hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]] (rule-reference: d3462930e11466-true-d3748259e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]/hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]]/*[not(@xsi:nil = 'true')][not(self::hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']])]" id="d3462930e11490-true-d3748316e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.39" test="not(.)">(exnds_section_krankenstand)/d3462930e11490-true-d3748316e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']] (rule-reference: d3462930e11490-true-d3748316e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]/hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159'] | self::hl7:code[(@code = 'Krankenstand' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:effectiveTime | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']]] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.158']]])]" id="d3748282e5-true-d3748377e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.39" test="not(.)">(exnds_section_krankenstand)/d3748282e5-true-d3748377e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159'] | hl7:code[(@code = 'Krankenstand' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:effectiveTime | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']]] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.158']]] (rule-reference: d3748282e5-true-d3748377e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]/hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']])]" id="d3748282e16-true-d3748418e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.39" test="not(.)">(exnds_section_krankenstand)/d3748282e16-true-d3748418e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']] (rule-reference: d3748282e16-true-d3748418e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]/hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157'] | self::hl7:id | self::hl7:code[(@code = 'KrankenstandGrund' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:value[@nullFlavor='NA'])]" id="d3748396e7-true-d3748454e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.39" test="not(.)">(exnds_section_krankenstand)/d3748396e7-true-d3748454e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157'] | hl7:id | hl7:code[(@code = 'KrankenstandGrund' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:value[@nullFlavor='NA'] (rule-reference: d3748396e7-true-d3748454e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]/hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']]/hl7:value[@nullFlavor='NA']/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3748396e19-true-d3748482e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.39" test="not(.)">(exnds_section_krankenstand)/d3748396e19-true-d3748482e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3748396e19-true-d3748482e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]/hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.157']]/hl7:value[@nullFlavor='NA']/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3748486e23-true-d3748497e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3748486e23-true-d3748497e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3748486e23-true-d3748497e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]/hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.158']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.158']])]" id="d3748282e21-true-d3748520e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.39" test="not(.)">(exnds_section_krankenstand)/d3748282e21-true-d3748520e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.158']] (rule-reference: d3748282e21-true-d3748520e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.39']]/hl7:entry[hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]]/hl7:act[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.159']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.158']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.158']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.158'] | self::hl7:id | self::hl7:code[(@code = 'VorausEnde' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='TS' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d3748506e7-true-d3748558e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.39" test="not(.)">(exnds_section_krankenstand)/d3748506e7-true-d3748558e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.158'] | hl7:id | hl7:code[(@code = 'VorausEnde' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='TS' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d3748506e7-true-d3748558e0)</assert>
    </rule>
</pattern>