cda-schematron/include/1.2.40.0.34.6.0.11.2.66-2019-06-12T093458-closed.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
Template derived pattern
===========================================
ID: 1.2.40.0.34.6.0.11.2.66
Name: EXNDS Weitere Patienteninformation - Administrativ
Description: In dieser Sektion können weitere patientenrelevante administrative Information angegeben werden welche nicht im CDA Header abgebildet werden können. Z.B. Informationen über eine etwaige Rezeptgebührenbefreiung oder die Versichertenkategorie
-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="template-1.2.40.0.34.6.0.11.2.66-2019-06-12T093458-closed">
    <title>EXNDS Weitere Patienteninformation - Administrativ</title>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/*[not(@xsi:nil = 'true')][not(self::hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']])]" id="d3462930e11936-true-d3811897e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3462930e11936-true-d3811897e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']] (rule-reference: d3462930e11936-true-d3811897e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66'] | self::hl7:id | self::hl7:code[(@code = 'PAT_INFO_ADM' and @codeSystem = '1.2.40.0.34.5.194')] | self::hl7:title[not(@nullFlavor)] | self::hl7:text | self::hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]])]" id="d3462930e12032-true-d3812009e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3462930e12032-true-d3812009e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66'] | hl7:id | hl7:code[(@code = 'PAT_INFO_ADM' and @codeSystem = '1.2.40.0.34.5.194')] | hl7:title[not(@nullFlavor)] | hl7:text | hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]] (rule-reference: d3462930e12032-true-d3812009e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/*[not(@xsi:nil = 'true')][not(self::hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']])]" id="d3462930e12072-true-d3812112e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3462930e12072-true-d3812112e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']] (rule-reference: d3462930e12072-true-d3812112e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63'] | self::hl7:id | self::hl7:code[(@code = 'PatInfoAdOrg' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:statusCode[@code = 'completed' or @nullFlavor] | self::hl7:effectiveTime | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.107']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.108']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.109']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.110']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.111']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.112']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]])]" id="d3812036e7-true-d3812179e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812036e7-true-d3812179e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63'] | hl7:id | hl7:code[(@code = 'PatInfoAdOrg' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:statusCode[@code = 'completed' or @nullFlavor] | hl7:effectiveTime | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.107']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.108']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.109']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.110']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.111']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.112']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]] (rule-reference: d3812036e7-true-d3812179e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.107']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.107']])]" id="d3812036e21-true-d3812218e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812036e21-true-d3812218e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.107']] (rule-reference: d3812036e21-true-d3812218e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.107']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.107']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.107'] | self::hl7:id | self::hl7:code[(@code = 'VKT' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.32-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)])]" id="d3812207e5-true-d3812262e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812207e5-true-d3812262e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.107'] | hl7:id | hl7:code[(@code = 'VKT' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.32-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)] (rule-reference: d3812207e5-true-d3812262e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.108']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.108']])]" id="d3812036e24-true-d3812309e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812036e24-true-d3812309e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.108']] (rule-reference: d3812036e24-true-d3812309e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.108']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.108']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.108'] | self::hl7:id | self::hl7:code[(@code = 'BER' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:value[@nullFlavor='NA'])]" id="d3812292e5-true-d3812345e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812292e5-true-d3812345e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.108'] | hl7:id | hl7:code[(@code = 'BER' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:value[@nullFlavor='NA'] (rule-reference: d3812292e5-true-d3812345e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.108']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.108']]/hl7:value[@nullFlavor='NA']/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3812292e17-true-d3812373e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812292e17-true-d3812373e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3812292e17-true-d3812373e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.108']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.108']]/hl7:value[@nullFlavor='NA']/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3812377e23-true-d3812388e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3812377e23-true-d3812388e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3812377e23-true-d3812388e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.109']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.109']])]" id="d3812036e27-true-d3812408e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812036e27-true-d3812408e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.109']] (rule-reference: d3812036e27-true-d3812408e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.109']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.109']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.109'] | self::hl7:id | self::hl7:code[(@code = 'RZG' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:effectiveTime | self::hl7:value[not(@nullFlavor)])]" id="d3812397e5-true-d3812451e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812397e5-true-d3812451e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.109'] | hl7:id | hl7:code[(@code = 'RZG' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:effectiveTime | hl7:value[not(@nullFlavor)] (rule-reference: d3812397e5-true-d3812451e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.110']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.110']])]" id="d3812036e30-true-d3812493e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812036e30-true-d3812493e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.110']] (rule-reference: d3812036e30-true-d3812493e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.110']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.110']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.110'] | self::hl7:id | self::hl7:code[(@code = 'EKM' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d3812482e5-true-d3812531e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812482e5-true-d3812531e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.110'] | hl7:id | hl7:code[(@code = 'EKM' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d3812482e5-true-d3812531e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.111']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.111']])]" id="d3812036e34-true-d3812569e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812036e34-true-d3812569e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.111']] (rule-reference: d3812036e34-true-d3812569e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.111']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.111']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.111'] | self::hl7:id | self::hl7:code[(@code = 'BLD' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.33-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)])]" id="d3812558e5-true-d3812613e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812558e5-true-d3812613e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.111'] | hl7:id | hl7:code[(@code = 'BLD' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:value[concat(@code, @codeSystem) = doc('include/voc-1.2.40.0.34.6.0.10.33-DYNAMIC.xml')//valueSet[1]/conceptList/concept/concat(@code, @codeSystem)] (rule-reference: d3812558e5-true-d3812613e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.112']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.112']])]" id="d3812036e37-true-d3812660e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812036e37-true-d3812660e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.112']] (rule-reference: d3812036e37-true-d3812660e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.112']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.112']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.112'] | self::hl7:id | self::hl7:code[(@code = 'ERSTZUW' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:text | self::hl7:value[@nullFlavor='NA'])]" id="d3812643e5-true-d3812696e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812643e5-true-d3812696e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.112'] | hl7:id | hl7:code[(@code = 'ERSTZUW' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:text | hl7:value[@nullFlavor='NA'] (rule-reference: d3812643e5-true-d3812696e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.112']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.112']]/hl7:value[@nullFlavor='NA']/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3812643e17-true-d3812724e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812643e17-true-d3812724e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3812643e17-true-d3812724e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.112']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.112']]/hl7:value[@nullFlavor='NA']/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3812728e23-true-d3812739e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3812728e23-true-d3812739e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3812728e23-true-d3812739e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']])]" id="d3812036e40-true-d3812765e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812036e40-true-d3812765e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']] (rule-reference: d3812036e40-true-d3812765e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114'] | self::hl7:id | self::hl7:code | self::hl7:text | self::hl7:value[not(@nullFlavor)] | self::hl7:value[@nullFlavor='NA'])]" id="d3812748e5-true-d3812796e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812748e5-true-d3812796e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114'] | hl7:id | hl7:code | hl7:text | hl7:value[not(@nullFlavor)] | hl7:value[@nullFlavor='NA'] (rule-reference: d3812748e5-true-d3812796e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']]/hl7:value[@nullFlavor='NA']/*[not(@xsi:nil = 'true')][not(self::hl7:originalText)]" id="d3812748e18-true-d3812825e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.2.66" test="not(.)">(exnds_section_weiterePatienteninformationAdministrativ)/d3812748e18-true-d3812825e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:originalText (rule-reference: d3812748e18-true-d3812825e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]]/hl7:section[hl7:templateId[@root = '1.2.40.0.34.6.0.11.2.66']]/hl7:entry[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.63']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.114']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.114']]/hl7:value[@nullFlavor='NA']/hl7:originalText/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d3812829e23-true-d3812840e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.9.2" test="not(.)">(atcdabbr_other_OriginalTextReference)/d3812829e23-true-d3812840e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d3812829e23-true-d3812840e0)</assert>
    </rule>
</pattern>