cda-schematron/include/1.2.40.0.34.6.0.11.3.143-2020-10-06T165659-closed.sch

<?xml version="1.0" encoding="UTF-8"?>
<!--
Template derived pattern
===========================================
ID: 1.2.40.0.34.6.0.11.3.143
Name: EXNDS Arzneimittel-Organizer
Description: Dieses Organizer-Element dient dazu, Informationen zu einzelnen Verordnungen zu sammeln, welche NICHT im Medikation Verordnungs Entry untergebracht werden. Beispiele hierzu wären Preisinformation zu Arnzeimittel
-->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="template-1.2.40.0.34.6.0.11.3.143-2020-10-06T165659-closed">
    <title>EXNDS Arzneimittel-Organizer</title>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/*[not(@xsi:nil = 'true')][not(self::hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']])]" id="d3462930e15599-true-d4337154e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d3462930e15599-true-d4337154e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']] (rule-reference: d3462930e15599-true-d4337154e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143'] | self::hl7:id[not(@nullFlavor)] | self::hl7:code[(@code = 'ArnMittelOrganizer' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:statusCode[@code = 'completed' or @nullFlavor] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.140']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.141']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.144']]] | self::hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.148']]] | self::hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.149']]])]" id="d3462930e15646-true-d4337217e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d3462930e15646-true-d4337217e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143'] | hl7:id[not(@nullFlavor)] | hl7:code[(@code = 'ArnMittelOrganizer' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:statusCode[@code = 'completed' or @nullFlavor] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.140']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.141']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.144']]] | hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.148']]] | hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.149']]] (rule-reference: d3462930e15646-true-d4337217e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.140']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']])]" id="d3462930e15661-true-d4337258e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d3462930e15661-true-d4337258e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']] (rule-reference: d3462930e15661-true-d4337258e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.140']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140'] | self::hl7:code[(@code = 'ArzMittelPreisTAX' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]])]" id="d4337241e5-true-d4337300e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337241e5-true-d4337300e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140'] | hl7:code[(@code = 'ArzMittelPreisTAX' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]] (rule-reference: d4337241e5-true-d4337300e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.140']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']])]" id="d4337241e24-true-d4337333e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337241e24-true-d4337333e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']] (rule-reference: d4337241e24-true-d4337333e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.140']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142'] | self::hl7:code[(@code = 'MWST' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d4337319e5-true-d4337361e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337319e5-true-d4337361e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142'] | hl7:code[(@code = 'MWST' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d4337319e5-true-d4337361e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.141']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.141']])]" id="d3462930e15664-true-d4337397e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d3462930e15664-true-d4337397e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.141']] (rule-reference: d3462930e15664-true-d4337397e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.141']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.141']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.141'] | self::hl7:code[(@code = 'ArzMittelPreisApo' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]])]" id="d4337380e5-true-d4337439e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337380e5-true-d4337439e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.141'] | hl7:code[(@code = 'ArzMittelPreisApo' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]] (rule-reference: d4337380e5-true-d4337439e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.141']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.141']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']])]" id="d4337380e24-true-d4337472e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337380e24-true-d4337472e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']] (rule-reference: d4337380e24-true-d4337472e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.141']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.141']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142'] | self::hl7:code[(@code = 'MWST' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d4337458e5-true-d4337500e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337458e5-true-d4337500e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142'] | hl7:code[(@code = 'MWST' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d4337458e5-true-d4337500e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.144']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.144']])]" id="d3462930e15667-true-d4337530e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d3462930e15667-true-d4337530e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.144']] (rule-reference: d3462930e15667-true-d4337530e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.144']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.144']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.144'] | self::hl7:code[(@code = 'ArnMittelPackArt' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value)]" id="d4337519e5-true-d4337559e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337519e5-true-d4337559e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.144'] | hl7:code[(@code = 'ArnMittelPackArt' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value (rule-reference: d4337519e5-true-d4337559e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]]/*[not(@xsi:nil = 'true')][not(self::hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']])]" id="d3462930e15670-true-d4337606e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d3462930e15670-true-d4337606e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']] (rule-reference: d3462930e15670-true-d4337606e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146'] | self::hl7:id[not(@nullFlavor)] | self::hl7:code[(@code = 'ArnMittelMagOrganizer' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:statusCode[@code = 'completed' or @nullFlavor] | self::hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]] | self::hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147']]])]" id="d4337581e5-true-d4337674e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337581e5-true-d4337674e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146'] | hl7:id[not(@nullFlavor)] | hl7:code[(@code = 'ArnMittelMagOrganizer' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:statusCode[@code = 'completed' or @nullFlavor] | hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]] | hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147']]] (rule-reference: d4337581e5-true-d4337674e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']]/hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']])]" id="d4337581e20-true-d4337720e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337581e20-true-d4337720e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']] (rule-reference: d4337581e20-true-d4337720e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']]/hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140'] | self::hl7:code[(@code = 'ArzMittelPreisTAX' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] | self::hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]])]" id="d4337698e5-true-d4337762e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337698e5-true-d4337762e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140'] | hl7:code[(@code = 'ArzMittelPreisTAX' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] | hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]] (rule-reference: d4337698e5-true-d4337762e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']]/hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']])]" id="d4337698e24-true-d4337795e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337698e24-true-d4337795e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']] (rule-reference: d4337698e24-true-d4337795e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']]/hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.140']]/hl7:entryRelationship[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142'] | self::hl7:code[(@code = 'MWST' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d4337781e5-true-d4337823e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337781e5-true-d4337823e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.142'] | hl7:code[(@code = 'MWST' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='PQ' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d4337781e5-true-d4337823e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']]/hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147']])]" id="d4337581e23-true-d4337856e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337581e23-true-d4337856e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147']] (rule-reference: d4337581e23-true-d4337856e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']]/hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147'] | self::hl7:code[(@code = 'ArnMittelMagBest' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='ED' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d4337842e5-true-d4337884e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337842e5-true-d4337884e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147'] | hl7:code[(@code = 'ArnMittelMagBest' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='ED' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d4337842e5-true-d4337884e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:organizer[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.146']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.146']]/hl7:component[hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.147']]/hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='ED' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')]/*[not(@xsi:nil = 'true')][not(self::hl7:reference[not(@nullFlavor)])]" id="d4337842e30-true-d4337907e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337842e30-true-d4337907e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:reference[not(@nullFlavor)] (rule-reference: d4337842e30-true-d4337907e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.148']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148']])]" id="d3462930e15673-true-d4337927e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d3462930e15673-true-d4337927e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148']] (rule-reference: d3462930e15673-true-d4337927e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.148']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148'] | self::hl7:code[(@code = 'ArnMittelBez' and @codeSystem = '1.2.40.0.34.5.195') or (@code = 'ArnMittelBez' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='BL' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d4337916e5-true-d4337955e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337916e5-true-d4337955e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.148'] | hl7:code[(@code = 'ArnMittelBez' and @codeSystem = '1.2.40.0.34.5.195') or (@code = 'ArnMittelBez' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='BL' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d4337916e5-true-d4337955e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.149']]]/*[not(@xsi:nil = 'true')][not(self::hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.149']])]" id="d3462930e15677-true-d4337985e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d3462930e15677-true-d4337985e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.149']] (rule-reference: d3462930e15677-true-d4337985e0)</assert>
    </rule>

   <!-- Checking undefined contents for template/element @isClosed="true". Match context that we did not already match -->
    <rule context="*[hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]]/hl7:organizer[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.143']]/hl7:component[hl7:observation[hl7:templateId[@root='1.2.40.0.34.6.0.11.3.149']]]/hl7:observation[hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.149']]/*[not(@xsi:nil = 'true')][not(self::hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.149'] | self::hl7:code[(@code = 'ArnMittelRezGebFrei' and @codeSystem = '1.2.40.0.34.5.195')] | self::hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='BL' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')])]" id="d4337974e5-true-d4338013e0">
        <assert role="error" see="http://art-decor.org/art-decor/decor-templates--exnds-?id=1.2.40.0.34.6.0.11.3.143" test="not(.)">(exnds_entry_ArzneimittelOrganizer)/d4337974e5-true-d4338013e0: '<value-of select="name(..)"/>' ist als geschlossen definiert und dieses Element '<name/>' ist nicht erlaubt oder nicht mit diesem Inhalt erlaubt. Dies kann templateId, code oder id betreffen. Erwartet:  hl7:templateId[@root = '1.2.40.0.34.6.0.11.3.149'] | hl7:code[(@code = 'ArnMittelRezGebFrei' and @codeSystem = '1.2.40.0.34.5.195')] | hl7:value[not(@nullFlavor)][(local-name-from-QName(resolve-QName(@xsi:type,.))='BL' and namespace-uri-from-QName(resolve-QName(@xsi:type,.))='urn:hl7-org:v3')] (rule-reference: d4337974e5-true-d4338013e0)</assert>
    </rule>
</pattern>